* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}
body {
    background-color: rgba(245, 160, 160, 0.881);
}
.image {
    width: 40rem;
    height: 40rem;
}
.hole {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.calculator {
    background-color: darkmagenta;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: fit-content;
    padding: 1.5rem;
    border-radius: 20px;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: minmax(3rem, auto) repeat(4, 4rem);
}
.calc-buttons {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.operands {
  background-color: rgb(149, 89, 213);
}
.calc-buttons:hover {
  background-color: rgb(171, 134, 211);
}
.outputs {
  grid-column: 1/-1;
  background-color: rgba(171, 134, 211);
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 2rem;
  border-radius: 20px;
  word-wrap: break-word;
  word-break: break-all;
}
.operand{
    color: rgba(67, 52, 83, 0.849);
    font-size: 1rem;
}
.current{
    color: rgb(48, 0, 99);
    font-size: 1.75rem;
}
