* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightyellow;
}
.icon {
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: brown;
  color: white;
}
.image {
  width: 1rem;
  height: 1rem;
}
